.button {
	--_button-background-color: var(--button-background-color, transparent);
	--_button-color: var(--button-color, var(--color-dark));

	all: unset;
	background-color: var(--_button-background-color);
	border: var(--border-width-m) solid;
	border-radius: 2000px;
	color: var(--_button-color);
	cursor: pointer;
	display: inline-flex;
	font-weight: bold;
	padding: var(--space-3xs) var(--space-xs);
	text-decoration: none;
}

.button:hover,
.button:focus,
.button:focus-visible,
.button:visible {
	--_button-background-color: var(
		--button-hover-background-color,
		var(--color-light-shade)
	);
}

.button:active {
	transform: scale(0.975);
}

.button[data-button-style="faux"] {
	--button-background-color: var(--color-light-shade);
	--button-color: var(--color-dark);
	cursor: not-allowed;
}
