:root {
	font-family: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
		Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
		source-sans-pro, sans-serif;

	--wrapper-max-width: 75ch;
	--gutter: var(--space-s-l);
}

html,
body {
	height: 100%;
}

html {
	font-size: var(--step-0);
	line-height: 1.5;
	color: var(--color-dark);
	background-color: var(--color-light);
}
